@media (max-width: 1399px) {

	/* 
	=========================================
	Slider Code Here
	=========================================
	*/
	.owl-carousel .owl-item img {
		height: 400px;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.owl-carousel .owl-nav.disabled {
		top: 180px;
	}


	/*
	===============================================================
	===============================================================
	LECBD PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.cbd-box-2 p:first-child {
		margin-left: -8.5rem;
	}

	.cbd-box-2 img {
		max-width: 100% !important;
	}

	.cbd-box-1 p:last-child {
		padding-right: 6.5rem;
	}

	.cbd-box-2 p:nth-child(2) {
		padding-left: 6rem;
	}

}

@media (max-width: 1280px) {

	/*
	===============================================================
	===============================================================
	BLOG-2 PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.blog2-title {
		left: 0rem;
	}

}

@media (max-width: 1199px) {

	/* 
	=========================================
	Reuseble Components Code Here
	=========================================
	*/

	/*
	------------
	Font Size
	------------
	*/
	.size-100 {
		font-size: 8rem;
	}

	.size-72 {
		font-size: 5.5rem;
	}

	.size-60 {
		font-size: 5rem;
	}

	.size-48 {
		font-size: 4rem;
	}

	.size-30 {
		font-size: 2.4rem;
	}

	.size-25 {
		font-size: 2rem;
	}

	.size-24 {
		font-size: 1.8rem;
	}

	/* 
	=========================================
	Slider Code Here
	=========================================
	*/

	.owl-carousel .owl-nav.disabled {
		right: 30px;
	}

	/*
	===============================================================
	===============================================================
	HOME PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.huile-10 > p {
		margin-right: 0rem;
	}

	.huile-10 img {
		right: -22rem;
	}

	.nos-img p:first-child {
		left: 22%;
	}

	.notre-content p:first-child {
		margin-bottom: -4rem;
	}


	/*
	===============================================================
	===============================================================
	L’HUILE 10 NUVEN PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/

	.nuvem-left-text {
		padding-right: 3rem;
	}

	.nuvem-right-text {
		padding-left: 3rem;
	}

	.nuvem-title p {
		font-size: 7.5rem;
	}


	/*
	===============================================================
	===============================================================
	LECBD PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.cbd-box-2 {
		padding-right: 0rem;
	}

	.cbd-box-2 img {
		margin-left: -2rem;
	}

	.cbd-box-1 p:nth-child(2) {
		margin-left: 0rem;
		margin-right: -4rem;
	}

	.cbd-box-2 p:first-child {
		margin-left: -4.5rem;
		margin-top: -1.5rem;
	}

	.quels-img img {
		height: auto;
	}

	.nuboj-img img {
		top: -110px;
	}


	/*
	===============================================================
	===============================================================
	QUALITE PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/

	.large-img-content img:first-child {
		top: -50%;
		left: 61%;
	}

	.large-img-title {
		left: -60px;
		bottom: 330px;
	}


	/*
	===============================================================
	===============================================================
	BLOG-1 PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.post-img img {
		height: 38rem;
	}


	/*
	===============================================================
	===============================================================
	BLOG-2 PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.blog-banner-container {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.blog2-title {
		left: -2.5rem;
	}

}

@media (max-width: 991px) {

	/* 
	=========================================
	Reuseble Components Code Here
	=========================================
	*/
	/*
	------------
	Font Size
	------------
	*/
	.size-150 {
		font-size: 7rem;
	}

	.size-100 {
		font-size: 6.5rem;
	}

	.size-60 {
		font-size: 4.5rem;
	}

	.size-50 {
		font-size: 4rem;
	}

	.size-48 {
		font-size: 3.5rem;
	}

	.size-30 {
		font-size: 2rem;
	}

	.size-23 {
		font-size: 1.9rem;
	}

	.size-20 {
		font-size: 1.7rem;
	}

	/* 
	=========================================
	Slider Code Here
	=========================================
	*/
	.owl-nav,
	.owl-carousel .owl-nav.disabled {
		top: 190px;
		right: 20px
	}


	/*
	===============================================================
	===============================================================
	HOME PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/

	.hero-banner img {
		height: 540px;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.huile-10 > div {
		max-width: 100%;
	}

	.huile-10-img img:first-child {
		width: 100%;
		margin-left: 0rem;
	}

	.huile-10 img,
	.quest-ce-img img {
		position: static;
		max-width: 100%;
	}

	.quest-ce-text p:first-child {
		margin-left: 0rem;
	}

	.nos-img p:first-child {
		top: 5.5rem;
		left: 0;
	}

	.nos-img p:last-child {
		right: -30%;
		bottom: -1.2rem;
	}

	.notre-content {
		max-width: 1300px;
		padding-left: 5rem;
	}


	/*
	===============================================================
	===============================================================
	L’HUILE 10 NUVEN PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/

	.nuvem-desc {
		padding-right: 0;
	}

	.nuvem-left-text {
		padding-right: 0rem;
	}

	.nuvem-right-text {
		padding-left: 0rem;
	}

	.comment-row > * {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.nuvem-title p {
		font-size: 5.9rem;
	}


	/*
	===============================================================
	===============================================================
	LECBD PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.cbd-section {
		padding-top: 10rem;
	}

	.cbd-box-1 img,
	.cbd-box-2 img {
		width: 100% !important;
	}

	.cbd-box-2 img {
		margin-top: -1rem;
	}

	.cbd-box-1 p:nth-child(2) {
		margin-left: 0rem;
	}

	.cbd-box-2 {
		margin-top: 7rem;
		padding-right: 0rem;
	}

	.cbd-box-2 p:first-child {
		margin-left: 0rem;
	}

	.cbd-box-2 p:nth-child(2) {
		padding-left: 0rem;
		max-width: 80rem;
	}

	.cbd-box-2 img {
		margin-left: 0rem;
	}


	/*
	===============================================================
	===============================================================
	QUALITE PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.tow-column-section {
		padding: 8rem 0;
	}

	.large-img-title {
		left: 0;
		bottom: 238px;
		max-width: 37rem;
	}

	.tow-column-row {
		margin-left: -3rem;
		margin-right: -3rem;
	}

	.tow-column-row > * {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.large-img-content img:nth-child(2) {
		margin-left: 0;
	}


	/*
	===============================================================
	===============================================================
	BLOG-1 PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.le-blog-tile p:first-child {
		margin-left: 3rem;
	}

	.le-blog-2 {
		padding-right: 0rem;
	}

	.post-img img {
		height: auto;
	}

	.post-text p:first-child {
		margin-bottom: 2rem;
	}


	/*
	===============================================================
	===============================================================
	BLOG-2 PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.blog2-title {
		left: -2rem;
		bottom: 3rem;
	}

	.blog-banner-container img {
		height: 600px;
		-o-object-fit: cover;
		   object-fit: cover;
	}

	.blog-banner-container .date {
		margin-top: 5rem;
	}

}

@media (max-width: 955px) {

	/*
	===============================================================
	===============================================================
	BLOG-2 PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.blog-banner-container > p {
		margin-top: 5rem;
	}

}

@media (max-width: 767px) {

	/* 
	=========================================
	Reuseble Components Code Here
	=========================================
	*/

	/*
	------------
	Font Size
	------------
	*/
	.size-72 {
		font-size: 5.3rem;
	}


	/* 
	=========================================
	Slider Code Here
	=========================================
	*/
	.slider-container {
		padding-left: 3rem;
	}

	.slide div:last-child {
		padding: 0;
	}

	.owl-carousel .owl-item img {
		height: auto;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.owl-nav,
	.owl-carousel .owl-nav.disabled {
		top: 110px;
	}


	/*
	===============================================================
	===============================================================
	HOME PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.hero-title {
		width: 100%;
	}

	.quest-ce-img img {
		width: 100%;
	}

	.nos-img {
		text-align: center;
	}

	.nos-img p:last-child {
		right: 0;
	}

	.nos-btn a {
		margin-top: 3rem;
	}

	.notre-content {
		padding-left: 2rem;
	}

	.notre-content p:last-child {
		margin-top: -2.5rem;
	}

	.huile-10-img img:last-child {
		max-width: 25rem;
	}


	/*
	===============================================================
	===============================================================
	L’HUILE 10 NUVEN PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.text-section {
		padding-bottom: 8rem;
	}

	.comment-row > * {
		padding-left: 1.8rem;
		padding-right: 1.8rem;
	}


	/*
	===============================================================
	===============================================================
	LECBD PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.nuboj-img {
		text-align: center;
	}

	.nuboj-img img {
		position: static;
		margin-top: 5rem;
	}

	.quels-section {
		padding-bottom: 8rem;
	}

	.newsletter-section {
		padding-top: 8rem;
	}


	/*
	===============================================================
	===============================================================
	QUALITE PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.qualite-tile p:first-child {
		margin-top: 4rem;
		margin-bottom: 6rem;
	}

	.qualite-tile div {
		margin-bottom: 3rem;
	}

	.test-text p:nth-child(2) {
		margin-bottom: 2rem;
	}

	.test-btn {
		margin: 3rem 0 2rem;
	}

	.large-img-title {
		bottom: 165px;
	}


	/*
	===============================================================
	===============================================================
	BLOG-1 PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.le-blog-tile {
		margin-bottom: 3rem;
	}

	.le-blog-tile p {
		text-align: center !important;
	}

	.le-blog,
	.post-img {
		padding-left: 0;
	}

	.le-blog img,
	.post-img img {
		margin-bottom: 2rem;
		width: 100%;
	}

	.le-blog-2 img:last-child {
		margin-top: -.4rem;
	}


	/*
	===============================================================
	===============================================================
	BLOG-2 PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.blog2-desc-text-sec {
		padding: 8rem 0 5rem;
	}

	.blog2-title {
		left: -2rem;
		bottom: 3rem;
	}

	.blog-banner-container img {
		height: 500px;
	}

	.blog-banner-container .date {
		margin-top: 5rem;
	}

}

@media (max-width: 575px) {

	/* 
	=========================================
	Reuseble Components Code Here
	=========================================
	*/
	/*
	------------
	Font Size
	------------
	*/
	.size-150 {
		font-size: 5.5rem;
	}

	.size-100 {
		font-size: 5.3rem;
	}

	.size-72 {
		font-size: 4.5rem;
	}

	.size-60 {
		font-size: 3.8rem;
	}

	.size-48 {
		font-size: 3rem;
	}

	.size-30 {
		font-size: 1.8rem;
	}

	.size-18 {
		font-size: 1.6rem;
	}


	/* 
	=========================================
	Slider Code Here
	=========================================
	*/
	.owl-nav,
	.owl-carousel .owl-nav.disabled {
		top: 230px;
	}


	/*
	------------------------
	Nuvem & Blog 1, 2 Style
	------------------------
	*/
	.post-row-2,
	.blog2-desc-text-row,
	.comment-row {
		margin-right: 0;
		margin-left: 0;
	}

	.post-row-2 > *,
	.blog2-desc-text-row > *,
	.comment-row > * {
		padding-left: 0;
		padding-right: 0;
	}


	/* 
	=========================================
	All Page Slider Code Here
	=========================================
	*/
	.slider-container {
		padding-left: 1rem;
	}

	.owl-nav,
	.owl-carousel .owl-nav.disabled {
		right: 0px;
	}

	.owl-carousel .owl-nav button.owl-next {
		border-width: 15px 0 15px 25px;
	}

	.owl-carousel .owl-nav button.owl-prev {
		border-width: 15px 25px 15px 0;
	}

	/*
	===============================================================
	===============================================================
	HOME PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.hero-banner img {
		height: 420px;
	}

	.hero-title {
		top: 35%;
	}

	.huile-10-section {
		padding-top: 3rem;
	}

	.nos-img p:first-child {
		top: 3.5rem;
		left: 14px;
	}

	.nos-img p:last-child {
		right: 11px;
	}

	.notre-content p:first-child {
		margin-bottom: -3.3rem;
	}

	.notre-content {
		padding-left: 1rem;
		padding-right: 1rem;
		max-width: 100%;
	}

	.notre-content p:last-child {
		margin-top: -2.6rem;
		max-width: 100%;
		padding-right: 0rem;
	}

	.huile-10-section {
		padding-bottom: 2rem;
	}

	.nos-section {
		padding: 6rem 0 8rem;
	}

	.huile-10-img img:last-child {
		max-width: 22rem;
	}

	.notre-img {
		padding-left: 0rem;
	}


	/*
	===============================================================
	===============================================================
	L’HUILE 10 NUVEN PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.nuvem-title p {
		font-size: 5.3rem;
	}

	.nuvem-row-2 {
		margin-top: 3rem;
	}


	/*
	===============================================================
	===============================================================
	LECBD PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.cbd-section {
		padding-top: 10rem;
	}

	.cbd-wrapper {
		padding: 0 1rem;
	}

	.cbd-box-1 p:last-child {
		padding-right: 0;
	}

	.quels-img img {
		margin-top: 5rem;
	}

	.newsletter-section {
		padding-top: 6rem;
	}


	/*
	===============================================================
	===============================================================
	QUALITE PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.large-img-container {
		margin-top: 6rem;
	}

	.large-img-title {
		bottom: 170px;
		left: -22px;
	}

	.qualite-tile p:first-child {
		margin-bottom: 3rem;
	}

	.tow-column-section {
		padding: 5rem 0;
	}


	/*
	===============================================================
	===============================================================
	BLOG-1 PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.le-blog-tile {
		margin-bottom: 1rem;
	}

	.le-blog-section {
		padding-top: 10rem;
	}

	.le-blog-tile {
		margin: 3rem 0 2rem;
	}

	.post-text a {
		padding: 1.5rem 2rem;
	}


	/*
	===============================================================
	===============================================================
	BLOG-2 PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.blog-banner-section {
		padding-top: 10rem;
	}

	.blog2-desc-text-sec {
		padding: 6rem 0 5rem;
	}

	.blog2-title {
		left: 0rem;
		bottom: 3.8rem;
	}

	.blog-banner-container img {
		height: 400px;
	}

}


@media (max-width: 524px) {

	/*
	===============================================================
	===============================================================
	QUALITE PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.large-img-title {
		bottom: 150px;
	}

}

@media (max-width: 500px) {

	/* 
	=========================================
	Slider Code Here
	=========================================
	*/
	.owl-nav,
	.owl-carousel .owl-nav.disabled {
		top: 180px;
	}

}

@media (max-width: 480px) {

	/*
	===============================================================
	===============================================================
	QUALITE PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.large-img-title {
		bottom: 120px;
	}

}

@media (max-width: 420px) {

	/*
	===============================================================
	===============================================================
	QUALITE PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.large-img-title {
		bottom: 100px;
	}

}


@media (max-width: 400px) {

	/* 
	=========================================
	Slider Code Here
	=========================================
	*/
	.owl-nav,
	.owl-carousel .owl-nav.disabled {
		top: 140px;
	}


	/*
	===============================================================
	===============================================================
	HOME PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.huile-10-img img:last-child {
		max-width: 16rem;
	}


	/*
	===============================================================
	===============================================================
	QUALITE PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.qualite-section {
		padding-top: 10rem;
	}

}

@media (max-width: 375px) {

	/*
	===============================================================
	===============================================================
	QUALITE PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.large-img-title {
		bottom: 80px;
	}

}

@media (max-width: 365px) {

	/*
	===============================================================
	===============================================================
	QUALITE PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.large-img-title {
		left: -15px;
	}

}

@media (max-width: 350px) {

	/*
	===============================================================
	===============================================================
	QUALITE PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.large-img-title {
		left: 0;
		bottom: 50px;
	}

}

@media (max-width: 340px) {

	/*
	===============================================================
	===============================================================
	QUALITE PAGE STYLE
	===============================================================
	===============================================================
	===============================================================
	*/
	.large-img-title {
		bottom: 20px;
	}

}